<div class="h-100" *ngIf="fileStateService.isOpened; else elseBlock">
    <div class="h-100" *ngIf="xmlProcessor.xmlDom; else elseBlock">
        <div class="w-100 h-100">
            <as-split direction="horizontal" gutterSize="5">
                <as-split-area minSize="20" maxSize="80" [size]="40">
                    <div class="h-100 position-relative overflow-auto">
                        <app-tree-view class="flex-grow-1"></app-tree-view>
                    </div>
                </as-split-area>
                <as-split-area [size]="60">
                    <div class="h-100 position-relative overflow-auto">
                        <app-data-view></app-data-view>
                    </div>
                </as-split-area>
            </as-split>
        </div>
    </div>
    <ng-template #elseBlock>XMLdom is loading...</ng-template>
</div>
<ng-template #elseBlock>No XML document has been opened</ng-template>