<ng-template [ngIf]="fileStateService.ifError" [ngIfElse]="elseBlock">
    <div class="p-4">
        <h3 class="text-danger">Error: xml is not well-formed</h3>
        <p>The xml file could not be opened, because one or more errors were found.</p>
        <p>If there are more than one error, you will get further error messages until all the errors are corrected.</p>
        <p>Please correct the following error, and try to open the file again:</p>
        <p class="text-danger border border-danger">{{getErrorMessage()}}</p>
    </div>
</ng-template>
<ng-template #elseBlock>
    <p class="p-4">No Error</p>
</ng-template>