<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Open</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body centered">
    <p>Please browse the xml file that You wish to open.</p>
    <form>
        <div class="form-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" (change)="handleFileInput($event.target.files)">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="parseXML()">Open</button>
    <button type="button" ngbAutofocus class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>