<div>
  <button mat-stroked-button aria-label="Expand all" (click)="treeControl.expandAll();">Expand All</button>
  <button mat-stroked-button aria-label="Collapse all" (click)="treeControl.collapseAll()">Collapse All</button>
</div>
<button class="mt-2" mat-flat-button [id]="xmlProcessor.xmlDom.uuid" (click)="activateElement(xmlProcessor.xmlDom)">Document</button>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let element" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    <button mat-flat-button [id]="element.elementInstance.uuid" (click)="activateElement(element.elementInstance)">{{element.name}}</button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let element;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + element.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(element) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <button mat-flat-button [id]="element.elementInstance.uuid" (click)="activateElement(element.elementInstance)">{{element.name}}</button>
  </mat-tree-node>
</mat-tree>
