<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">VisualXML</a>
  
    
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li ngbDropdown class="nav-item">
                <a ngbDropdownToggle class="nav-link" id="VisualXmlDropdown">File</a>
                <div ngbDropdownMenu aria-labelledby="VisualXmlDropdown">
                    <a ngbDropdownItem (click)="openModal();">Open</a>
                    <a ngbDropdownItem [disabled]='!fileStateService.isOpened' (click)="saveasModal();">Save As</a>
                    <a ngbDropdownItem [disabled]='!fileStateService.isOpened' (click)="closeModal();">Close</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true">Help</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true">About</a>
        </li>
      </ul>
    </div>
  </nav>