<div class="modal-header">
    <h4 class="modal-title" id="modal-primary-title">Save As</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body centered">
    <p>Browse the folder in which You would like to save the xml file.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="saveasXML()">Browse</button>
    <button type="button" ngbAutofocus class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>